<h3>Editare anunț</h3>
<div>
    <mat-form-field appearance="fill">
        <mat-label>Titlul anunțului modificat</mat-label>
        <input matInput type="text" placeholder="Titlu anunt modificat" [(ngModel)]="anunt.titlu">
    </mat-form-field>
</div>
<div>
    <mat-form-field appearance="fill">
        <mat-label>Conținut</mat-label>
        <input matInput type="text" placeholder="Continut anunt modificat" [(ngModel)]="anunt.continut">
    </mat-form-field>
</div>
<button mat-raised-button color="warn" (click)="updateAnunt()">Actualizează</button>
&nbsp;
<button mat-raised-button color="primary" (click)="updateAnuntCancel()">Renunță</button>