<h1 mat-dialog-title>Adauga Cerere</h1>
<div mat-dialog-content>


    <div *ngIf="!hasCerereBeenSaved; else anuntSaved">

        
        <mat-form-field appearance="fill">
            <mat-label>Adaugare cerere</mat-label>
            <mat-select [(ngModel)]="cerereNoua.typeCerere">
                <mat-option *ngFor="let tipCerere of tipuri" [value]="tipCerere">
                    {{tipCerere}}
                </mat-option>

            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Users to receive cerere</mat-label>
            <mat-select multiple [(ngModel)]="usersSelected">
             
              <mat-option *ngFor="let user of usersList" [value]="user">{{user.email}}</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div>
        <h3>Users selected</h3>
        <ul>
            <li *ngFor="let userSelected of usersSelected">
                <input type="checkbox" [(ngModel)]="userSelected.canInterrupt">
                {{userSelected.email}} <button (click)="removeFromCerere(userSelected)">Remove</button>
            </li>
        </ul>
    </div>
    <!-- files for cerere -->
    <div>

        <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
        <div class="file-upload">
          <!-- {{fileName || "No file uploaded yet."}} -->
          Incarca raportul sub forma de document:  
      
            <button mat-mini-fab color="primary" class="upload-btn"
              (click)="fileUpload.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
        </div>
    </div>
    <ng-template #anuntSaved>
        <div>
            Cererea a fost salvata
        </div>
    </ng-template>

</div>
<div mat-dialog-actions>

    <button *ngIf="!hasCerereBeenSaved" mat-button (click)="onNoClick()">Cancel</button>
    <button *ngIf="!hasCerereBeenSaved" mat-button color="primary" (click)="saveCerere()">Save cerere</button>
    <button *ngIf="hasCerereBeenSaved" [mat-dialog-close]="data.rezultat">Ok</button>
</div>