<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">toc</mat-icon>
            Cererile Mele
        </ng-template>
        <div>
            <h2>Cererile</h2>

            <h3>DOCUMENTE</h3>
            <!-- <button (click)="viewArchiveDocument(true)">View archive</button>
            <button (click)="viewArchiveDocument(false)">View current</button> -->
            <button mat-raised-button color="accent" (click)="viewArchiveDocument(true)">
                <mat-icon>archive</mat-icon>ARHIVATE
            </button>
            <button mat-raised-button color="accent" (click)="viewArchiveDocument(false)">
                <mat-icon> present_to_all</mat-icon>CURENTE
            </button>
            <div>
                <mat-select [(ngModel)]="filtruTipCerere" (selectionChange)="selectOptiuneFiltru()">
                    <!-- <option [ngValue]="'all'">All</option> -->
                    <mat-option [value]="'all'">All</mat-option>
                    <mat-option *ngFor="let t of tipuri" [value]="t">{{t}}</mat-option>

                    <!-- <option *ngFor="let t of tipuri" [ngValue]="t">{{t}}</option> -->
                </mat-select>

            </div>

            <div class="example-container mat-elevation-z8">

                <div class="example-table-container">
                    <!-- displayedColumns: string[] = ['id', 'datePosted', 'type', 'userAssociated', 'actions']; -->
                    <table mat-table [dataSource]="cererileAfisate" class="example-table" matSort matSortActive="id"
                        matSortDisableClear matSortDirection="desc">
                        <!-- Number Column -->
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Cod Identificare</th>
                            <td mat-cell *matCellDef="let row">{{row.id}}</td>
                        </ng-container>

                        <!-- Title Column -->
                        <ng-container matColumnDef="datePosted">
                            <th mat-header-cell *matHeaderCellDef>Data creării</th>
                            <td mat-cell *matCellDef="let row">{{row.dateCreated | date: 'yyyy-MM-dd'}}</td>
                        </ng-container>

                        <ng-container matColumnDef="type">
                            <th mat-header-cell *matHeaderCellDef>Tip</th>
                            <td mat-cell *matCellDef="let row">{{row.typeCerere}}</td>
                        </ng-container>

                        <ng-container matColumnDef="userAssociated">
                            <th mat-header-cell *matHeaderCellDef>Utilizator</th>
                            <td mat-cell *matCellDef="let row">{{row.userAssociated?.email}}</td>
                        </ng-container>


                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef>Acțiuni posibile</th>
                            <td mat-cell *matCellDef="let row">


                                <a mat-button mat-raised-button
                                    [routerLink]="['/cerere-flow', row.id, 'CERERE_DOCUMENT']">VIZUALIZARE</a>
                                <!-- <button (click)="editAnunt(row)" mat-button mat-raised-button>Edit</button> -->
                                <!-- <a mat-button mat-raised-button [routerLink]='["/anunturi-student", row.id]'>View</a> -->


                                <!-- <button (click)="updateSetSelected(row.id)" mat-button mat-raised-button>Update</button> -->

                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    </table>
                </div>
                <mat-paginator [length]="resultsLength" [pageSize]="5"></mat-paginator>


            </div>

            <h3>COMPLETATE</h3>

            <app-table-detailed></app-table-detailed>


        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">playlist_add</mat-icon>
            Cerere Nouă
        </ng-template>

        <!-- ADAUGARE CERERE -->

        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">description</mat-icon>
                    COMPLETARE

                </ng-template>


                <!-- add cerere detailed -->
                <div>


                    <div *ngIf="!hasCerereBeenSaved; else anuntSaved">


                        <mat-form-field appearance="fill">
                            <mat-label>Completare cerere </mat-label>
                            <mat-select [(ngModel)]="cerereNouaDetailed.typeCerere">
                                <mat-option *ngFor="let tipCerere of tipuri" [value]="tipCerere">
                                    {{tipCerere}}
                                </mat-option>

                            </mat-select>
                        </mat-form-field>


                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Data plecării</mat-label>
                                <input matInput type="text" [(ngModel)]="cerereNouaDetailed.dateStart">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Data sosirii</mat-label>
                                <input matInput type="text" [(ngModel)]="cerereNouaDetailed.dateEnd">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Localitate deplasare</mat-label>
                                <input matInput type="text" [(ngModel)]="cerereNouaDetailed.localitate">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Județ deplasare</mat-label>
                                <input matInput type="text" [(ngModel)]="cerereNouaDetailed.judet">
                            </mat-form-field>
                        </div>

                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Ora Plecării</mat-label>
                                <input matInput type="text" [(ngModel)]="cerereNouaDetailed.oraPlecare">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Ora Sosirii</mat-label>
                                <input matInput type="text" [(ngModel)]="cerereNouaDetailed.oraSosire">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Motiv</mat-label>
                                <input matInput type="text" [(ngModel)]="cerereNouaDetailed.motiv">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Modalitate Deplasare</mat-label>
                                <input matInput type="text" [(ngModel)]="cerereNouaDetailed.modalitateDeplasare">
                            </mat-form-field>
                        </div>

                        <div>
                                
                            <mat-form-field appearance="fill">
                                <mat-label>Fluxurile mele</mat-label>
                                <mat-select [(ngModel)]="customFlowSelected" (selectionChange)="customFlowSelect()">
                                    <mat-option [value]="null">None</mat-option>
                                    <mat-option *ngFor="let mcf of myCustomFlows" [value]="mcf">
                                        {{mcf.customFlowName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div *ngIf="!defaultFlow">
                            <mat-form-field appearance="fill">
                                <mat-label>UTILIZATORI DESTINATARI</mat-label>
                                <mat-select multiple [(ngModel)]="usersSelectedCerereDetailed">

                                    <mat-option *ngFor="let user of usersList" [value]="user">{{user.email}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div>
                                <!-- <h3>Utilizatori selectați</h3> -->
                                <ul>
                                    <li *ngFor="let userSelected of usersSelectedCerereDetailed">
                                        <input type="checkbox" [(ngModel)]="userSelected.canInterrupt">
                                        {{userSelected.email}} <button
                                            (click)="removeFromCerereDetailed(userSelected)">ELIMINARE</button>
                                    </li>
                                </ul>
                            </div>
                          
                        </div>
                    </div>

                    <div>
                        <mat-checkbox [(ngModel)]="defaultFlow" (ngModelChange)="userSwitchedOption()">
                            {{type}}
                        </mat-checkbox>
                    </div>
                    <button mat-button color="primary" (click)="saveCerereDetailed()">SALVARE
                        </button>
                </div>
                <!-- ./add cerere detailed -->

            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">attach_file</mat-icon>
                    INCĂRCARE 
                </ng-template>

                <!-- Upload cerere -->
                <div>
                    <div>


                        <div *ngIf="!hasCerereBeenSaved; else anuntSaved">


                            <mat-form-field appearance="fill">
                                <mat-label>Adăugare cerere</mat-label>
                                <mat-select [(ngModel)]="cerereNoua.typeCerere">
                                    <mat-option *ngFor="let tipCerere of tipuri" [value]="tipCerere">
                                        {{tipCerere}}
                                    </mat-option>

                                </mat-select>
                            </mat-form-field>

                            <div *ngIf="!defaultFlow">
                                <mat-form-field appearance="fill">
                                    <mat-label>Utilizatori destinatari</mat-label>
                                    <mat-select multiple [(ngModel)]="usersSelected">

                                        <mat-option *ngFor="let user of usersList" [value]="user">{{user.email}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <!-- <h3>Users selected</h3> -->
                                <ul>
                                    <li *ngFor="let userSelected of usersSelected">
                                        <div>
                                        {{userSelected.email}} 
                                    </div>           
                                        <!-- <input type="checkbox" [(ngModel)]="userSelected.canInterrupt"> -->
                                        <mat-checkbox class="example-margin" [(ngModel)]="userSelected.canInterrupt">POSIBILITATE ÎNTRERUPERE FLUX</mat-checkbox>

                                        <!-- <button (click)="removeFromCerere(userSelected)">REMOVE USER</button> -->
                                        <div>
                                            <button mat-raised-button color="warn" (click)="removeFromCerere(userSelected)"><mat-icon>delete_forever</mat-icon>ELIMINĂ</button>
                                        </div>        
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- files for cerere -->
                        <div>

                            <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>

                        </div>
                        <ng-template #anuntSaved>
                            <div>
                                Cererea a fost salvată cu succes
                            </div>
                        </ng-template>

                    </div>
                    <div>
                        <mat-checkbox [(ngModel)]="defaultFlow" (ngModelChange)="userSwitchedOption()">
                            {{type}}
                        </mat-checkbox>
                    </div>

                    <div>
                        <h2></h2>

                        <mat-form-field appearance="fill">
                            <mat-label>Fluxurile mele personalizate</mat-label>
                            <mat-select [(ngModel)]="customFlowSelected" (selectionChange)="customFlowSelect()">
                                <mat-option [value]="null">None</mat-option>
                                <mat-option *ngFor="let mcf of myCustomFlows" [value]="mcf">
                                    {{mcf.customFlowName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <button mat-button color="primary" (click)="saveCerere()">SALVARE
                        </button>
                </div>

            </mat-tab>


        </mat-tab-group>
    </mat-tab>


</mat-tab-group>