<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">toc</mat-icon>
            Cererile Mele
        </ng-template>
        <div>
            <h2>Cererile</h2>

            <!-- <button style="margin-bottom: 30px;" mat-raised-button color="primary" (click)="addCerere()">Adauga
                cerere</button> -->

            <div>
                <select [(ngModel)]="filtruTipCerere" (change)="selectOptiuneFiltru()">
                    <option [ngValue]="'all'">All</option>
                    <option *ngFor="let t of tipuri" [ngValue]="t">{{t}}</option>
                </select>
            </div>

            <!-- displayedColumns: string[] = ['id', 'datePosted', 'type', 'userAssociated', 'actions']; -->
            <table mat-table [dataSource]="cererileAfisate" class="example-table" matSort matSortActive="id"
                matSortDisableClear matSortDirection="desc">
                <!-- Number Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Id</th>
                    <td mat-cell *matCellDef="let row">{{row.id}}</td>
                </ng-container>

                <!-- Title Column -->
                <ng-container matColumnDef="datePosted">
                    <th mat-header-cell *matHeaderCellDef>Date Posted</th>
                    <td mat-cell *matCellDef="let row">{{row.dateCreated | date: 'yyyy-MM-dd'}}</td>
                </ng-container>

                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef>Type</th>
                    <td mat-cell *matCellDef="let row">{{row.typeCerere}}</td>
                </ng-container>

                <ng-container matColumnDef="userAssociated">
                    <th mat-header-cell *matHeaderCellDef>User Associated</th>
                    <td mat-cell *matCellDef="let row">{{row.userAssociated?.email}}</td>
                </ng-container>


                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let row">


                        <a mat-button mat-raised-button [routerLink]="['/cerere-flow', row.id]">View</a>
                        <!-- <button (click)="editAnunt(row)" mat-button mat-raised-button>Edit</button> -->
                        <!-- <a mat-button mat-raised-button [routerLink]='["/anunturi-student", row.id]'>View</a> -->


                        <!-- <button (click)="updateSetSelected(row.id)" mat-button mat-raised-button>Update</button> -->

                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <!-- <thead>
                    <tr>
                        <th>Id</th>
                        <th>Date posted</th>
                        <th>Type</th>
                        <th>User associated</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of cererileAfisate">
                        <td>{{c.id}}</td>
                        <td>{{c.dateCreated | date: 'yyyy-MM-dd'}}</td>
                        <td>{{c.typeCerere}}</td>
                        <td>
                            <span *ngIf="c.userAssociated; else una">
                                {{c.userAssociated.email}}
                            </span>
                            <ng-template #una>
                                <span>
                                    User not associated
                                </span>
                            </ng-template>

                        </td>
                        <td>
                            <a [routerLink]="['/cerere-flow', c.id]">View</a>
                        </td>
                    </tr>
                </tbody> -->
            </table>
            <div>


            </div>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">playlist_add</mat-icon>
            Cerere Noua
        </ng-template>

        <!-- ADAUGARE CERERE -->

        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">description</mat-icon>
                    Completare Cerere

                </ng-template>


                <!-- add cerere detailed -->
                Adauga Cerere Detailed
                <div>


                    <div *ngIf="!hasCerereBeenSaved; else anuntSaved">


                        <mat-form-field appearance="fill">
                            <mat-label>Adaugare cerere detailed</mat-label>
                            <mat-select [(ngModel)]="cerereNouaDetailed.typeCerere">
                                <mat-option *ngFor="let tipCerere of tipuri" [value]="tipCerere">
                                    {{tipCerere}}
                                </mat-option>

                            </mat-select>
                        </mat-form-field>


                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>DateStart</mat-label>
                                <input matInput type="text" [(ngModel)]="cerereNouaDetailed.dateStart">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>DateEnd</mat-label>
                                <input matInput type="text" [(ngModel)]="cerereNouaDetailed.dateEnd">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Localitate</mat-label>
                                <input matInput type="text" [(ngModel)]="cerereNouaDetailed.localitate">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Judet</mat-label>
                                <input matInput type="text" [(ngModel)]="cerereNouaDetailed.judet">
                            </mat-form-field>
                        </div>

                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Ora Plecare</mat-label>
                                <input matInput type="text" [(ngModel)]="cerereNouaDetailed.oraPlecare">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Ora Sosire</mat-label>
                                <input matInput type="text" [(ngModel)]="cerereNouaDetailed.oraSosire">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Motiv</mat-label>
                                <input matInput type="text" [(ngModel)]="cerereNouaDetailed.motiv">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Modalitate Deplasare</mat-label>
                                <input matInput type="text" [(ngModel)]="cerereNouaDetailed.modalitateDeplasare">
                            </mat-form-field>
                        </div>

                        <div *ngIf="!defaultFlow">
                            <mat-form-field appearance="fill">
                                <mat-label>Users to receive cerere</mat-label>
                                <mat-select multiple [(ngModel)]="usersSelectedCerereDetailed">

                                    <mat-option *ngFor="let user of usersList" [value]="user">{{user.email}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div>
                                <h3>Users selected</h3>
                                <ul>
                                    <li *ngFor="let userSelected of usersSelectedCerereDetailed">
                                        <input type="checkbox" [(ngModel)]="userSelected.canInterrupt">
                                        {{userSelected.email}} <button
                                            (click)="removeFromCerereDetailed(userSelected)">Remove</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div>
                        <mat-checkbox [(ngModel)]="defaultFlow" (ngModelChange)="userSwitchedOption()">
                            {{type}}
                        </mat-checkbox>
                    </div>
                    <button mat-button color="primary" (click)="saveCerereDetailed()">Save
                        cerere detailed</button>
                </div>
                <!-- ./add cerere detailed -->

            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">attach_file</mat-icon>
                    Incarcare Cerere
                </ng-template>

                <!-- Upload cerere -->
                <div>
                    Adauga Cerere
                    <div>


                        <div *ngIf="!hasCerereBeenSaved; else anuntSaved">


                            <mat-form-field appearance="fill">
                                <mat-label>Adaugare cerere</mat-label>
                                <mat-select [(ngModel)]="cerereNoua.typeCerere">
                                    <mat-option *ngFor="let tipCerere of tipuri" [value]="tipCerere">
                                        {{tipCerere}}
                                    </mat-option>

                                </mat-select>
                            </mat-form-field>

                            <div *ngIf="!defaultFlow">
                                <mat-form-field appearance="fill">
                                    <mat-label>Users to receive cerere</mat-label>
                                    <mat-select multiple [(ngModel)]="usersSelected">

                                        <mat-option *ngFor="let user of usersList" [value]="user">{{user.email}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                           
                                <h3>Users selected</h3>
                                <ul>
                                    <li *ngFor="let userSelected of usersSelected">
                                        <input type="checkbox" [(ngModel)]="userSelected.canInterrupt">
                                        {{userSelected.email}} <button
                                            (click)="removeFromCerere(userSelected)">Remove</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- files for cerere -->
                        <div>

                            <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>

                        </div>
                        <ng-template #anuntSaved>
                            <div>
                                Cererea a fost salvata
                            </div>
                        </ng-template>

                    </div>
                    <div>
                        <mat-checkbox [(ngModel)]="defaultFlow" (ngModelChange)="userSwitchedOption()">
                            {{type}}
                        </mat-checkbox>
                    </div>

                    <button mat-button color="primary" (click)="saveCerere()">Save
                        cerere</button>
                </div>

            </mat-tab>


        </mat-tab-group>
    </mat-tab>


</mat-tab-group>