<div>
    <h2>Cererile</h2>

    <button style="margin-bottom: 30px;" mat-raised-button color="primary" (click)="addCerere()">Adauga cerere</button>

    <div>
        <select [(ngModel)]="filtruTipCerere" (change)="selectOptiuneFiltru()">
            <option [ngValue]="'all'">All</option>
            <option *ngFor="let t of tipuri" [ngValue]="t">{{t}}</option>
        </select>
    </div>

    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date posted</th>
                <th>Type</th>
                <th>User associated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of cererileAfisate">
                <td>{{c.id}}</td>
                <td>{{c.dateCreated | date: 'yyyy-MM-dd'}}</td>
                <td>{{c.typeCerere}}</td>
                <td>
                    <span *ngIf="c.userAssociated; else una">
                        {{c.userAssociated.email}}
                    </span>
                    <ng-template #una>
                        <span>
                            User not associated
                        </span>
                    </ng-template>

                </td>
                <td>
                    <a [routerLink]="['/cerere-flow', c.id]">View</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div>

        <!-- <mat-form-field appearance="fill">
            <mat-label>Adaugare cerere</mat-label>
            <mat-select [(ngModel)]="cerereNoua.typeCerere">
                <mat-option *ngFor="let tipCerere of tipuri" [value]="tipCerere">
                    {{tipCerere}}
                  </mat-option>
                
            </mat-select>
        </mat-form-field> -->

        <!-- <button (click)="save()">Save</button> -->
    </div>
</div>