<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Superior
            </th>
            <th>
                Status
            </th>
            <th>
                Motiv
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let f of flowItems">
            <td>{{f.id}}</td>
            <td>{{f.superior.email}}</td>
            <td>{{f.status == 2 ? 'PENDING' : f.status == 1 ? 'ACCEPTAT' : 'RESPINS'}}</td>
            <td>{{f.motiv}}</td>
        </tr>
    </tbody>
    <p>
        <span>Status cerere: {{calculAdmisRespinsPending()}}</span>
    </p>
    
</table>