<!-- <div>
    <ul>
        <li><a routerLink="/utilizatorii">Utilizatorii</a></li>
        <li><a [routerLink]="['/anunturile']">Anunturile</a></li>
        <li><a [routerLink]="['/antunturi-student']">Anunturile Student</a></li>
        <li><a [routerLink]="['/cererile']">Cererile</a></li>
        <li><button (click)="logout()">Logout</button></li>
    </ul>
</div> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a  class="nav-item nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        <a *ngIf="canSee('utilizatori')" class="nav-item nav-link" routerLink="/utilizatorii">Utilizatorii</a>
        <a *ngIf="canSee('anunturi')" class="nav-item nav-link" [routerLink]="['/anunturile']">Anunturile</a>
        <a *ngIf="canSee('anunturi-student')" class="nav-item nav-link" [routerLink]="['/antunturi-student']">Anunturile Student</a>
        <a *ngIf="canSee('cereri')" class="nav-item nav-link" [routerLink]="['/cererile']">Cererile</a>
        <a *ngIf="canSee('grupuri')" class="nav-item nav-link" [routerLink]="['/groups']">Grupurile</a>
        <a *ngIf="canSee('decizii')" class="nav-item nav-link" [routerLink]="['/my-flow-items']">Decizii</a>
        <button (click)="logout()">Logout</button>

      </div>
    </div>
  </nav>