.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .mat-nav-list .mat-raised-button
  {
    position: relative;
    align-items: center;
  }
  .mat-icon .notification_item{
    float:right
  }
  
  @media(min-width:760px){
    .sidenav{
      /* width: 200px;
      box-shadow: 3px 0 6px rgba((0,0,0.24), green, blue, alpha);  */
    }
  }
  
  
  .example-spacer {
    flex: 1 1 auto;
  }

  
.example-list {
  width: 100px;
  border: solid 1px #ccc;
  border-radius: 5px;
  background: white;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.example-list > li {
  list-style-type: none;
  border-bottom: solid 1px #8b8b8b;
  padding:  8px 0;
  background-color: white;
}

.example-list > li:last-child {
  border-bottom: none;
  background-color: white;
}