<!-- <div>
    <h2>Login here</h2>

    Username: <input type="text" [(ngModel)]="username">
    <br>
    Password: <input type="password" [(ngModel)]="password">
    <br>
    <button (click)="login()">Login</button>
</div> -->

<mat-tab-group>
    <mat-tab label="Login">

        <div class="login">

            <div class="container">
                <div class="login-row row justify-content-center align-items-center">
                    <div class="login-column col-md-6">
                        <div class="login-box col-md-12">
                            <div class="login-form form" action="" method="post">
                                <!-- <div class="form-group">
                                    <label for="username" class="text-info">Username:</label><br>
                                    <input type="text" [(ngModel)]="username" id="username" class="form-control">
                                </div> -->

                                <mat-form-field class="example-full-width">
                                    <mat-label>Adresa Email</mat-label>
                                    <input type="email" matInput placeholder="Adresa Email" value=""
                                        [(ngModel)]="username">
                                    <mat-icon matSuffix>email</mat-icon>

                                </mat-form-field>


                                <!-- <div class="form-group">
                                    <label for="password" class="text-info">Password:</label><br>
                                    <input type="text" [(ngModel)]="password" type="password" id="password"
                                        class="form-control">
                                </div> -->

                                <mat-form-field class="example-full-width">
                                    <mat-label>Parola</mat-label>
                                    <input type="password" matInput placeholder="Parola" [(ngModel)]="password">
                                    <mat-icon matSuffix>vpn_key</mat-icon>
                                </mat-form-field>
                                <div class="form-group">
                                    <button mat-raised-button color="primary" (click)="login()">Login</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Register">
        <div class="login">
            <div class="container">
                <div class="login-row row justify-content-center align-items-center">
                    <div class="login-column col-md-6">
                        <div class="login-box col-md-12">
                            <div class="login-form form" class="form" action="" method="post">

                                <mat-form-field class="example-full-width">
                                    <mat-label>Adresa Email</mat-label>
                                    <input type="email" matInput placeholder="Adresa Email" value=""
                                        [(ngModel)]="username">
                                    <mat-icon matSuffix>email</mat-icon>

                                </mat-form-field>

                                <!-- <div class="form-group">
                                    <label for="username" class="text-info">Username:</label><br>
                                    <input type="text" [(ngModel)]="username" id="username" class="form-control">
                                </div> -->
                                <!-- <div class="form-group">
                                    <label for="password" class="text-info">Password:</label><br>
                                    <input type="text" [(ngModel)]="password" type="password" id="password"
                                        class="form-control">
                                </div> -->
                                <mat-form-field class="example-full-width">
                                    <mat-label>Parola</mat-label>
                                    <input type="password" matInput placeholder="Parola" [(ngModel)]="password">
                                    <mat-icon matSuffix>vpn_key</mat-icon>
                                </mat-form-field>

                                <mat-form-field appearance="fill">
                                    <mat-label>Status</mat-label>
                                    <mat-select [(ngModel)]="registerStatusTypeSelected">
                                        <mat-option *ngFor="let regType of registerStatusTypes" [value]="regType">
                                            {{regType}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>Nume</mat-label>
                                    <input type="email" matInput placeholder="Nume" 
                                        [(ngModel)]="registerNume">
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>Prenume</mat-label>
                                    <input type="email" matInput placeholder="Prenume"
                                        [(ngModel)]="registerPrenume">
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>Telefon</mat-label>
                                    <input type="email" matInput placeholder="Telefon"
                                        [(ngModel)]="registerPhone">
                                </mat-form-field>

                                <mat-form-field appearance="fill">
                                    <mat-label>Roles</mat-label>
                                    <mat-select [(ngModel)]="selectedRoles"  multiple>
                                   
                                      <mat-option *ngFor="let role of roles" [value]="role">{{role.roleName}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>

                                <div class="form-group">
                                    <button mat-raised-button color="primary" (click)="register()">Register</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>

</mat-tab-group>