<div>
    <h2>Grupuri</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Cod Identificare</th>
                <th>Grupul de apartenență</th>
                <!-- <th>In charge</th> -->
                <th>Acțiuni</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let g of groups">
                <td>
                    {{g.id}}
                </td>
                <td>
                    {{g.numeGrup}}
                </td>
                <!-- <td>
                    <span *ngIf="g.userInCharge; else noUserInCharge">
                        {{g.userInCharge.email}}
                    </span>
                    <ng-template #noUserInCharge>
                        <span>
                            No user asssociated with the group
                        </span>
                    </ng-template>

                </td> -->
                <td>
                    <!-- <button (click)="viewStudents(g)">View students</button> -->
                    <!-- <button mat-raised-button color="accent" (click)="viewStudents(g)"><mat-icon>contacts</mat-icon>VIEW STUDENTS</button> -->
                    <button mat-raised-button color="accent" (click)="viewStudentsDialog(g)"><mat-icon>contacts</mat-icon>Utilizatori </button>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>