<div>
    <h2>Fluxurile mele Personalizate</h2>
    <table>
        <thead>
            <tr>
                <th>Cod identificare</th>
                <th>Titlul fluxului</th>
                <th>Utilizatori</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cf of myCustomFlows">
                <td>
                    {{cf.id}}
                </td>
                <td>
                    {{cf.customFlowName}}
                </td>
                <td>
                    <!-- <button (click)="viewUsersDialog(cf)">View users</button> -->
                    <button mat-button color="accent"(click)="viewUsersDialog(cf)"><mat-icon>supervisor_account</mat-icon>UTILIZATORI</button>

                </td>

            </tr>
        </tbody>
    </table>

    <div>
        <h2>Generare flux personalizat:</h2>
        <!-- <input type="text" placeholder="New Flow Name" [(ngModel)]="newCustomFlow.customFlowName"> -->

        <div>
        <input matInput type="text" placeholder="Titlu Flux Personalizat" [(ngModel)]="newCustomFlow.customFlowName">
    </div>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Utilizatori</mat-label>
            <mat-select multiple [(ngModel)]="usersSelected">

                <mat-option *ngFor="let u of users" [value]="u">{{u.email}}</mat-option>
            </mat-select>
        </mat-form-field>
        <!-- <button (click)="saveMyCustomFlow()">Save</button> -->
        <div>
        <button mat-raised-button color="primary" (click)="saveMyCustomFlow()"><mat-icon>check_circle_outline</mat-icon>SALVARE FLUX</button>
        </div>
    </div>
</div>