<div>
    <mat-select [(ngModel)]="filtruTipCerere" (selectionChange)="selectOptiuneFiltru()">
        <!-- <option [ngValue]="'all'">All</option> -->
        <mat-option [value]="'all'">All</mat-option>
        <mat-option *ngFor="let t of tipuri" [value]="t">{{t}}</mat-option>

        <!-- <option *ngFor="let t of tipuri" [ngValue]="t">{{t}}</option> -->
    </mat-select>

</div>
<!-- <button (click)="viewArchiveDocument(true)">View archive</button>
<button (click)="viewArchiveDocument(false)">View current</button> -->
<button mat-raised-button color="accent" (click)="viewArchiveDocument(true)"><mat-icon>archive</mat-icon>ARCHIEVED</button>
<button mat-raised-button color="accent" (click)="viewArchiveDocument(false)"><mat-icon> present_to_all</mat-icon>CURRENT</button>


<div class="example-container mat-elevation-z8">

    <div class="example-table-container">
        <!-- displayedColumns: string[] = ['id', 'datePosted', 'type', 'userAssociated', 'actions']; -->
        <table mat-table [dataSource]="cererileDetailed" class="example-table" matSort matSortActive="id"
            matSortDisableClear matSortDirection="desc">
            <!-- Number Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Id</th>
                <td mat-cell *matCellDef="let row">{{row.id}}</td>
            </ng-container>

            <!-- Title Column -->
            <ng-container matColumnDef="datePosted">
                <th mat-header-cell *matHeaderCellDef>Date Posted</th>
                <td mat-cell *matCellDef="let row">{{row.dateCreated | date: 'yyyy-MM-dd'}}</td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>Type</th>
                <td mat-cell *matCellDef="let row">{{row.typeCerere}}</td>
            </ng-container>

            <ng-container matColumnDef="userAssociated">
                <th mat-header-cell *matHeaderCellDef>User Associated</th>
                <td mat-cell *matCellDef="let row">{{row.user?.email}}</td>
            </ng-container>


            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let row">


                    <a mat-button mat-raised-button [routerLink]="['/cerere-flow', row.id, 'CERERE_DETAILED']">View</a>

                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsDetailed"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsDetailed;"></tr>

        </table>
    </div>
    <mat-paginator [length]="resultsLength" [pageSize]="5"></mat-paginator>


</div>