<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Superior
            </th>
            <th>
                Status
            </th>
            <th>
                Motiv
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let f of flowItems">
            <td>{{f.id}}</td>
            <td>{{f.superior.email}}</td>
            <td>{{f.status == 2 ? 'PENDING' : f.status == 1 ? 'ACCEPTAT' : 'RESPINS'}}</td>
            <td>{{f.motiv}}</td>
        </tr>
    </tbody>
    <p>
        <span>Status cerere: {{calculAdmisRespinsPending()}}</span>
        <!-- <button *ngIf="calculAdmisRespinsPending() != 'PENDING'">ARHIVARE</button> -->
    </p>
    <h3>Useri care trebuie sa dea acceptul</h3>
    <ul>
        <li *ngFor="let g of grupuriUtilizatorCerere">
            <span *ngIf="g.userInCharge">
                {{g.userInCharge.email}} [{{g.numeGrup}}] <button>Accept</button><button>Refuz</button>
                <ul *ngIf="g.parentGroup">
                    <li *ngIf="g.parentGroup.userInCharge">
                        {{g.parentGroup.userInCharge.email}} [{{g.parentGroup.numeGrup}}] <button>Accept</button><button>Refuz</button>
                    </li>
                </ul>
            </span>
        </li>
    </ul>
</table>