<div>
    <h2>Flow cereri - admite / respinge</h2>


    <div>
        <h3>Decizii anterioare</h3>

        <h4>Cereri document</h4>



        <table mat-table [dataSource]="dataSource_dtosFlowItemsPreviousCereriDocument" class="mat-elevation-z8">
            <ng-container matColumnDef="idCerereDocument">
                <th mat-header-cell *matHeaderCellDef> ID. </th>
                <td mat-cell *matCellDef="let element"> {{element.cerere.id}} </td>
            </ng-container>

            <ng-container matColumnDef="typeCerereDocument">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let element"> {{element.cerere.typeCerere}} </td>
            </ng-container>

            <ng-container matColumnDef="emailCerereDocument">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.cerere.userAssociated?.email}} </td>
            </ng-container>

            <ng-container matColumnDef="actionsCerereDocument">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <button (click)="openDialogFlowItems(element)">Open dialog flow items</button>
                    <button (click)="downloadCerere(element)">Download</button>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumnsDocument"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsDocument;"></tr>
        </table>

        <h4>Cereri detailed</h4>

        <!-- cereri detailed new -->
        <table mat-table [dataSource]="dataSource_dtosFlowItemsPreviousCereriDetailed" class="mat-elevation-z8">
            <ng-container matColumnDef="idCerereDetailed">
                <th mat-header-cell *matHeaderCellDef> ID. </th>
                <td mat-cell *matCellDef="let element"> {{element.cerereDetailed.id}} </td>
            </ng-container>

            <ng-container matColumnDef="typeCerereDetailed">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let element"> {{element.cerereDetailed.typeCerere}} </td>
            </ng-container>

            <ng-container matColumnDef="emailCerereDetailed">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.cerereDetailed.user?.email}} </td>
            </ng-container>

            <ng-container matColumnDef="actionsCerereDetailed">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <button (click)="openDialogFlowItems(element)">Open dialog flow items</button>
                    <!-- <button (click)="downloadCerere(element)">Download</button>  -->
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumnsDetailed"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsDetailed;"></tr>
        </table>
        <!-- cereri detailed old

        <h4>Cereri detailed</h4>
        <div *ngFor="let dto of dtosFlowItemsPreviousCereriDetailed">
            <div>
                For cerere detailed: <span>{{dto.cerereDetailed.typeCerere}}</span> -
                <span>{{dto.cerereDetailed.user.email}}</span>

            </div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Superior</th>
                        <th>Status</th>
                        <th>Can Interrupt</th>
                        <th>Order</th>
                        <th>Motiv</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let fi of dto.flowItemsICanSeeForCerere">
                        <td>
                            {{fi.id}}
                        </td>
                        <td>
                            {{fi.superior.email}}
                        </td>
                        <td>
                            {{fi.status}}
                        </td>
                        <td>
                            {{fi.canInterrupt}}
                        </td>
                        <td>
                            {{fi.priority}}
                        </td>
                        <td>
                            {{fi.motiv}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
 -->

        <hr>
        <hr>
        <h1>Admite / respinge</h1>
        <hr>


        <mat-form-field appearance="fill">
            <mat-label>Filtrare decizii</mat-label>
            <mat-select [(ngModel)]="selectedStatusFilter">
                <mat-option *ngFor="let status of statusDropdownOptions" [value]="status.status">
                    {{status.text}}
                </mat-option>
            </mat-select>
        </mat-form-field>



        <h2>Cereri document</h2>
        <div *ngFor="let cfi of cereriDocumentAndFlowItems | keyvalue">
            <div *ngIf="shouldDisplayCerereDetailed(cfi.key, 'document')">
                <h3>Cerere: {{cfi.key}}</h3>
                <table>
                    <thead>
                        <tr>
                            <th>ID CERERE DOC</th>
                            <th>ID</th>
                            <th>Tip cerere</th>
                            <th>Utilizator</th>
                            <th>Date start</th>
                            <th>Date end</th>
                            <th>Motiv</th>
                            <th>Status curent</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let fi of cfi.value">
                            <td>
                                {{fi.cerere.id}}
                            </td>
                            <td>
                                {{fi.id}}
                            </td>
                            <td>
                                {{fi.cerere.typeCerere}}
                            </td>
                            <td>
                                <span *ngIf="fi.cerere.userAssociated; else noUserAssociated">
                                    {{fi.cerere.userAssociated.email}}
                                </span>
                                <ng-template #noUserAssociated>
                                    <span>No user associated</span>
                                </ng-template>
                            </td>
                            <td>
                                {{fi.cerere.dateStart}}
                            </td>
                            <td>
                                {{fi.cerere.dateEnd}}
                            </td>
                            <td>
                                {{fi.motiv}}
                            </td>
                            <td>
                                <span>
                                    {{fi.status == 2 ? 'PENDING' : fi.status == 1 ? 'ACCEPTATA' : 'RESPINSA'}}
                                </span>
                            </td>
                            <td>
                                <button (click)="rezolva(fi, true)">Admite</button>
                                <button (click)="rezolva(fi, false)">Respinge</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
        <h2> Cereri detailed</h2>
        <div *ngFor="let cfi of cereriDetailedAndFlowItems | keyvalue">
            <div *ngIf="shouldDisplayCerereDetailed(cfi.key, 'detailed')">
                <!-- todo: disable or enable-->
                <h3>Cerere detailed: {{cfi.key}}</h3>
                <table>
                    <thead>
                        <tr>
                            <th>ID CERERE DETAILED</th>
                            <th>ID</th>
                            <th>Tip cerere</th>
                            <th>Utilizator</th>
                            <th>Date start</th>
                            <th>Date end</th>
                            <th>Motiv</th>
                            <th>Status curent</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let fi of cfi.value">
                            <td>
                                {{fi.cerereDetailed.id}}
                            </td>
                            <td>
                                {{fi.id}}
                            </td>
                            <td>
                                {{fi.cerereDetailed.typeCerere}}
                            </td>
                            <td>
                                <span *ngIf="fi.cerereDetailed.user; else noUserAssociated">
                                    {{fi.cerereDetailed.user.email}}
                                </span>
                                <ng-template #noUserAssociated>
                                    <span>No user associated</span>
                                </ng-template>
                            </td>
                            <td>
                                {{fi.cerereDetailed.dateStart | date : 'yyyy-MM-dd'}}
                            </td>
                            <td>
                                {{fi.cerereDetailed.dateEnd | date : 'yyyy-MM-dd'}}
                            </td>
                            <td>
                                {{fi.motiv}}
                            </td>
                            <td>
                                <span>
                                    {{fi.status == 2 ? 'PENDING' : fi.status == 1 ? 'ACCEPTATA' : 'RESPINSA'}}
                                </span>
                            </td>
                            <td>
                                <button (click)="rezolva(fi, true)">Admite</button>
                                <button (click)="rezolva(fi, false)">Respinge</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>