<div>
    <h2>Flow cereri - admite / respinge</h2>


    <div>
        <h3>Decizii anterioare</h3>

        <h4>Cereri document</h4>
        <div *ngFor="let dto of dtosFlowItemsPreviousCereriDocument">
            <div>
                For cerere: <span>{{dto.cerere.typeCerere}}</span> - <span>{{dto.cerere.userAssociated.email}}</span>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Superior</th>
                        <th>Status</th>
                        <th>Can Interrupt</th>
                        <th>Order</th>
                        <th>Motiv</th>
                        <th>Actiuni</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let fi of dto.flowItemsICanSeeForCerere">
                        <td>
                            {{fi.id}}
                        </td>
                        <td>
                            {{fi.superior.email}}
                        </td>
                        <td>
                            {{fi.status}}
                        </td>
                        <td>
                            {{fi.canInterrupt}}
                        </td>
                        <td>
                            {{fi.priority}}
                        </td>
                        <td>
                            {{fi.motiv}}
                        </td>
                        <td>
                            <button (click)="downloadCerere(fi)">Download</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h4>Cereri detailed</h4>
        <div *ngFor="let dto of dtosFlowItemsPreviousCereriDetailed">
            <div>
                For cerere detailed: <span>{{dto.cerereDetailed.typeCerere}}</span> -
                <span>{{dto.cerereDetailed.user.email}}</span>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Superior</th>
                        <th>Status</th>
                        <th>Can Interrupt</th>
                        <th>Order</th>
                        <th>Motiv</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let fi of dto.flowItemsICanSeeForCerere">
                        <td>
                            {{fi.id}}
                        </td>
                        <td>
                            {{fi.superior.email}}
                        </td>
                        <td>
                            {{fi.status}}
                        </td>
                        <td>
                            {{fi.canInterrupt}}
                        </td>
                        <td>
                            {{fi.priority}}
                        </td>
                        <td>
                            {{fi.motiv}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <hr>
    <hr>
    <h1>Admite / respinge</h1>
    <hr>
    <div *ngFor="let cfi of cereriDocumentAndFlowItems | keyvalue">
        <h3>Flow items for cerere document: {{cfi.key}}</h3>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tip cerere</th>
                    <th>Utilizator</th>
                    <th>Date start</th>
                    <th>Date end</th>
                    <th>Motiv</th>
                    <th>Status curent</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fi of cfi.value">
                    <td>
                        {{fi.id}}
                    </td>
                    <td>
                        {{fi.cerere.typeCerere}}
                    </td>
                    <td>
                        <span *ngIf="fi.cerere.userAssociated; else noUserAssociated">
                            {{fi.cerere.userAssociated.email}}
                        </span>
                        <ng-template #noUserAssociated>
                            <span>No user associated</span>
                        </ng-template>
                    </td>
                    <td>
                        {{fi.cerere.dateStart}}
                    </td>
                    <td>
                        {{fi.cerere.dateEnd}}
                    </td>
                    <td>
                        {{fi.motiv}}
                    </td>
                    <td>
                        <span>
                            {{fi.status == 2 ? 'PENDING' : fi.status == 1 ? 'ACCEPTATA' : 'RESPINSA'}}
                        </span>
                    </td>
                    <td>
                        <button (click)="rezolva(fi, true)">Admite</button>
                        <button (click)="rezolva(fi, false)">Respinge</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngFor="let cfi of cereriDetailedAndFlowItems | keyvalue">
        <h3>Flow items for cerere detailed: {{cfi.key}}</h3>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tip cerere</th>
                    <th>Utilizator</th>
                    <th>Date start</th>
                    <th>Date end</th>
                    <th>Motiv</th>
                    <th>Status curent</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fi of cfi.value">
                    <td>
                        {{fi.id}}
                    </td>
                    <td>
                        {{fi.cerereDetailed.typeCerere}}
                    </td>
                    <td>
                        <span *ngIf="fi.cerereDetailed.user; else noUserAssociated">
                            {{fi.cerereDetailed.user.email}}
                        </span>
                        <ng-template #noUserAssociated>
                            <span>No user associated</span>
                        </ng-template>
                    </td>
                    <td>
                        {{fi.cerereDetailed.dateStart}}
                    </td>
                    <td>
                        {{fi.cerereDetailed.dateEnd}}
                    </td>
                    <td>
                        {{fi.motiv}}
                    </td>
                    <td>
                        <span>
                            {{fi.status == 2 ? 'PENDING' : fi.status == 1 ? 'ACCEPTATA' : 'RESPINSA'}}
                        </span>
                    </td>
                    <td>
                        <button (click)="rezolva(fi, true)">Admite</button>
                        <button (click)="rezolva(fi, false)">Respinge</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>