<div>
    <h2>Flow cereri - admite / respinge</h2>


    <div>
        <h3>Decizii anterioare</h3>

        <h4>Cereri document</h4>



        <table mat-table [dataSource]="dataSource_dtosFlowItemsPreviousCereriDocument" class="mat-elevation-z8">
            <ng-container matColumnDef="idCerereDocument">
                <th mat-header-cell *matHeaderCellDef> ID. </th>
                <td mat-cell *matCellDef="let element"> {{element.cerere.id}} </td>
            </ng-container>

            <ng-container matColumnDef="typeCerereDocument">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let element"> {{element.cerere.typeCerere}} </td>
            </ng-container>

            <ng-container matColumnDef="emailCerereDocument">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.cerere.userAssociated?.email}} </td>
            </ng-container>

            <ng-container matColumnDef="actionsCerereDocument">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <!-- <button (click)="openDialogFlowItems(element)">Open dialog flow items</button> -->
                    <button mat-raised-button color="accent" (click)="openDialogFlowItems(element)"><mat-icon>visibility</mat-icon> Open dialog flow items</button>
                    <!-- <button (click)="downloadCerere(element)">Download</button> -->
                    <button mat-raised-button (click)="downloadCerere(element)"><mat-icon>get_app</mat-icon>DOWNLOAD</button>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumnsDocument"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsDocument;"></tr>
        </table>

        <h4>Cereri detailed</h4>

        <!-- cereri detailed new -->
        <table mat-table [dataSource]="dataSource_dtosFlowItemsPreviousCereriDetailed" class="mat-elevation-z8">
            <ng-container matColumnDef="idCerereDetailed">
                <th mat-header-cell *matHeaderCellDef> ID. </th>
                <td mat-cell *matCellDef="let element"> {{element.cerereDetailed.id}} </td>
            </ng-container>

            <ng-container matColumnDef="typeCerereDetailed">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let element"> {{element.cerereDetailed.typeCerere}} </td>
            </ng-container>

            <ng-container matColumnDef="emailCerereDetailed">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.cerereDetailed.user?.email}} </td>
            </ng-container>

            <ng-container matColumnDef="actionsCerereDetailed">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <!-- <button (click)="openDialogFlowItems(element)">Open dialog flow items</button> -->
                    <button mat-raised-button color="accent" (click)="openDialogFlowItems(element)"><mat-icon>visibility</mat-icon> Open dialog flow items</button>

                    <!-- <button (click)="downloadCerere(element)">Download</button>  -->
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumnsDetailed"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsDetailed;"></tr>
        </table>


     
        <h1>Admite / respinge</h1>
   


        <mat-form-field appearance="fill">
            <mat-label>Filtrare decizii</mat-label>
            <mat-select [(ngModel)]="selectedStatusFilter" (selectionChange)="onFilterStatusChange()">
                <mat-option [value]="-1">All</mat-option>
                <mat-option *ngFor="let status of statusDropdownOptions" [value]="status.status">
                    {{status.text}}
                </mat-option>
            </mat-select>
        </mat-form-field>



        <!-- Cereri ALL material table -->

        <table mat-table [dataSource]="dataSource_tableAllCereriDocumentAndDetailed" class="mat-elevation-z8">
            <ng-container matColumnDef="idAll">
                <th mat-header-cell *matHeaderCellDef> ID. </th>
                <td mat-cell *matCellDef="let element"> {{element.idCerereDetailedOrDocument}} </td>
            </ng-container>

            <ng-container matColumnDef="typeCerereAll">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let element"> {{element.tipCerere}} </td>
            </ng-container>

            <ng-container matColumnDef="emailCerereAll">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.utilizator.email}} </td>
            </ng-container>

            <ng-container matColumnDef="dateStartAll">
                <th mat-header-cell *matHeaderCellDef> Date Start </th>
                <td mat-cell *matCellDef="let element"> {{element.dateStart | date :'yyyy-MM-dd'}} </td>
            </ng-container>
            <ng-container matColumnDef="dateEndAll">
                <th mat-header-cell *matHeaderCellDef> Date End </th>
                <td mat-cell *matCellDef="let element"> {{element.dateEnd | date :'yyyy-MM-dd'}} </td>
            </ng-container>

            <ng-container matColumnDef="motivAll">
                <th mat-header-cell *matHeaderCellDef> Motiv </th>
                <td mat-cell *matCellDef="let element"> {{element.motiv}} </td>
            </ng-container>
            <ng-container matColumnDef="statusAll">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element">{{element.status == 2 ? 'PENDING' : element.status == 1 ?
                    'ACCEPTATA' : 'RESPINSA'}} </td>
            </ng-container>

            <ng-container matColumnDef="actionsAll">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <!-- <button (click)="rezolva(element, true)">Admite</button> -->
                    <button mat-raised-button (click)="verificaSemnatura(element)">	<mat-icon>check</mat-icon>VERIFICA SEMNATURA</button>
                    <button mat-raised-button (click)="rezolva(element, true)">	<mat-icon>check</mat-icon>ADMITE</button>

                    <!-- <button (click)="rezolva(element, false)">Respinge</button> -->
                    <button mat-raised-button color="warn" (click)="rezolva(element, false)"><mat-icon>close</mat-icon>RESPINGE</button>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumnsAll"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsAll;"></tr>
        </table>
        <!-- ./Cereri ALL material table -->


     
    </div>

</div>