<div>
    <h2>Componenta useri</h2>

    <input type="text" placeholder="Email" [(ngModel)]="userNou.email"> <br>
    <input type="password" placeholder="Password" [(ngModel)]="userNou.password"><br>
    <button (click)="register()">Register</button>

    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of useri">
                <td>
                    {{u.id}}
                </td>
                <td>
                    {{u.email}}
                </td>
            </tr>
        </tbody>
    </table>

</div>