<mat-stepper labelPosition="bottom" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Informatii generale</ng-template>
       

      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" >
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Date de contact</ng-template>
        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Numar de telefon</mat-label>
              <span matPrefix>+07 &nbsp;</span>
              <input type="tel" matInput placeholder="555-555-1234">
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
        </form>

      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Statistici</ng-template>
      <p>You are now done.</p>

    </mat-step>
  </mat-stepper>