<div>
    <h2>Cauta dupa:</h2>

    <!-- <input type="text" (keyup)="loadInitial()" [(ngModel)]="cuvantCautat" placeholder="Search"> -->


    <mat-form-field appearance="fill">
        <mat-label>Categorie cautare</mat-label>
        <mat-select [(ngModel)]="categorySearch" (selectionChange)="loadInitial()">
          <mat-option *ngFor="let so of categorySearchOptions" [value]="so">
            {{so}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    <div>
        <mat-form-field appearance="fill">
            <mat-label></mat-label>
            <input matInput type="text" (keyup)="loadInitial()" [(ngModel)]="cuvantCautat">
        </mat-form-field>
    </div>

    <!-- tabel cu paginare -->

    <div class="example-container mat-elevation-z8">


        <div class="example-table-container">



            <table mat-table [dataSource]="data" class="example-table" matSort matSortActive="motiv" matSortDisableClear
                matSortDirection="desc">
                <!-- Number Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Cod Elastic</th>
                    <td mat-cell *matCellDef="let row">{{row.id}}</td>
                </ng-container>
                <ng-container matColumnDef="idCerereSalvataDocumentOrDetailed">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Cod Identificare</th>
                    <td mat-cell *matCellDef="let row">{{row.idCerereSalvataDocumentOrDetailed}}</td>
                </ng-container>
                <ng-container matColumnDef="userEmail">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>userEmail</th>
                    <td mat-cell *matCellDef="let row">{{row.userEmail}}</td>
                </ng-container>
                <ng-container matColumnDef="typeCerere">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear></th>
                    <td mat-cell *matCellDef="let row">{{row.typeCerere}}</td>
                </ng-container>
                <ng-container matColumnDef="documentOrDetailed">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Tip Cerere</th>
                    <td mat-cell *matCellDef="let row">{{row.documentOrDetailed}}</td>
                </ng-container>
                <ng-container matColumnDef="localitate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>localitate</th>
                    <td mat-cell *matCellDef="let row">{{row.location}}</td>
                </ng-container>
                <ng-container matColumnDef="motiv">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>motiv</th>
                    <td mat-cell *matCellDef="let row">{{row.motiv}}</td>
                </ng-container>
                <ng-container matColumnDef="judet">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>judet</th>
                    <td mat-cell *matCellDef="let row">{{row.judet}}</td>
                </ng-container>


                <ng-container matColumnDef="actionsCol">
                    <th mat-header-cell *matHeaderCellDef>Acțiuni posibile</th>
                    <td mat-cell *matCellDef="let row">



                        <div *ngIf="row.idCerereSalvataDocumentOrDetailed">
                            <a *ngIf="row.documentOrDetailed != 'CERERE_DETAILED'" mat-button mat-raised-button
                                [routerLink]='["/cerere-flow", row.idCerereSalvataDocumentOrDetailed, "CERERE_DOCUMENT"]'>
                                VIZUALIZARE
                                </a>
                            <a *ngIf="row.documentOrDetailed == 'CERERE_DETAILED'" mat-button mat-raised-button
                                [routerLink]='["/cerere-flow", row.idCerereSalvataDocumentOrDetailed, "CERERE_DETAILED"]'>
                                VIZUALIZARE</a>

                        </div>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

        <mat-paginator [length]="resultsLength" [pageSize]="5"></mat-paginator>
    </div>

</div>