<div *ngIf="cerere || cerereDetailed">

    <h2>Cerere</h2>

    

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
        <!-- Position Column -->
        <ng-container matColumnDef="typePropertyCol">
          <th mat-header-cell *matHeaderCellDef> Type property </th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="valuePropertyCol">
          <th mat-header-cell *matHeaderCellDef> Value </th>
          <td mat-cell *matCellDef="let element"> {{element.value}} </td>
        </ng-container>
      
     
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    <div>
        <!-- <a [routerLink]="['/cereri-flow-view', cerere.id] ">View status</a> -->
        <!-- <button (click)="viewStatusDialog()">View status dialog</button> -->
        <button mat-button color="accent" (click)="viewStatusDialog()"><mat-icon>dvr</mat-icon>VIEW STATUS</button>

    </div>

    <div>
        <div style="text-align: center;">
            <!-- <h3>Groups</h3> -->
        </div>
        <!-- <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Group</th>
                    <th>Parent Group</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let g of groups">
                    <td>
                        {{g.numeGrup}}
                    </td>

                    <td [class]="g.parentGroup ? 'b-white' : 'b-gray'">
                        <span *ngIf="g.parentGroup; else noParentGroup">
                            {{g.parentGroup.numeGrup}}
                        </span>
                        <ng-template #noParentGroup>
                            <span>No parent group</span>
                        </ng-template>
                    </td>
                </tr>
            </tbody>

        </table> -->
    </div>


</div>