<div *ngIf="cerere">

    <h2>Cerere</h2>

    <table class="table table-bordered">
        <thead>

        </thead>
        <tbody>
            <tr>
                <td>ID</td>
                <td>{{idCerere}}</td>
            </tr>
            <tr>
                <td>Tip Cerere</td>
                <td>{{cerere.typeCerere}}</td>
            </tr>
            <tr>
                <td>User</td>
                <td>{{cerere.userAssociated.email}}</td>
            </tr>
            <tr>
                <td>Date created</td>
                <td><span>{{cerere.dateCreated | date : 'yyyy-MM-dd'}}</span></td>
            </tr>
            <tr>
                <td>Date end</td>
                <td><span>{{cerere.dateEnd | date : 'yyyy-MM-dd'}}</span></td>
            </tr>
        </tbody>
    </table>


    <div>
        <!-- <a [routerLink]="['/cereri-flow-view', cerere.id] ">View status</a> -->
        <button (click)="viewStatusDialog()">View status dialog</button>
    </div>

    <div>
        <div style="text-align: center;">
            <!-- <h3>Groups</h3> -->
        </div>
        <!-- <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Group</th>
                    <th>Parent Group</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let g of groups">
                    <td>
                        {{g.numeGrup}}
                    </td>

                    <td [class]="g.parentGroup ? 'b-white' : 'b-gray'">
                        <span *ngIf="g.parentGroup; else noParentGroup">
                            {{g.parentGroup.numeGrup}}
                        </span>
                        <ng-template #noParentGroup>
                            <span>No parent group</span>
                        </ng-template>
                    </td>
                </tr>
            </tbody>

        </table> -->
    </div>


</div>