<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <button mat-icon-button disabled></button>
    {{node.item.categoryName}}
    <span *ngIf="node.item.file">
      <!-- &nbsp; {{node.item.filename}} -->

      <button mat-raised-button (click)="downloadSablon(node.item.id)">
        <mat-icon>get_app</mat-icon>DOWNLOAD
      </button>
    </span>
  </mat-tree-node>



  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button mat-icon-button [attr.aria-label]="'Toggle ' + node.item" matTreeNodeToggle>


      <mat-icon class="mat-icon-rtl-mirror">

        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.item.categoryName}}
    <span *ngIf="node.item.file">
      <!-- &nbsp;{{node.item.filename}} -->
      <br>
      <button mat-raised-button (click)="downloadSablon(node.item.id)">
        <mat-icon>get_app</mat-icon>DOWNLOAD
      </button>
    </span>
    <mat-progress-bar *ngIf="node.isLoading" mode="indeterminate" class="example-tree-progress-bar"></mat-progress-bar>
  </mat-tree-node>

</mat-tree>

<h3></h3>
<div class="example-button-row">
  <button mat-raised-button color="primary">
    <mat-icon>description</mat-icon>PREVIEW
  </button>
  <button mat-raised-button color="warn">
    <mat-icon>delete</mat-icon>DELETE
  </button>
  <button mat-raised-button color="accent">
    <mat-icon>attach_file</mat-icon>ADD MODEL
  </button>
</div>

<div>
  Adauga Sablon
  <div>


    <div>


      <mat-form-field appearance="fill">
        <mat-label>Nume categorie</mat-label>
        <input matInput [(ngModel)]="newCategoryName">

        <!-- 
        <div>
          <select [(ngModel)]="filtruTipCerere" (change)="selectOptiuneFiltru()">
              <option [ngValue]="'all'">All</option>
              <option *ngFor="let t of tipuri" [ngValue]="t">{{t}}</option>
          </select>
      </div> -->

      </mat-form-field>
      <mat-form-field appearance="fill">

        <mat-select [(ngModel)]="parentId">
          <mat-label>Parinte categorie</mat-label>
          <mat-option *ngFor="let cat of allCategorii" [value]="cat.id">{{cat.categoryName}}</mat-option>
          <!-- <option *ngFor="let cat of allCategorii" [ngValue]="cat.id">{{cat.categoryName}}</option> -->
        </mat-select>

      </mat-form-field>


    </div>

   

    <!-- sablon file -->
    <div>

      <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
      <!-- <button mat-button color="primary" (click)="saveSablon()">Save
        sablon</button> -->

        <button mat-raised-button color="primary" (click)="saveSablon()" >
          <mat-icon>description</mat-icon>SAVE SABLON
        </button>
    </div>

    <div style="border: 1px solid blue;">
      <h3>Categorie noua node</h3>

      <mat-form-field appearance="fill">
        <mat-label>Nume categorie noua</mat-label>
        <input matInput [(ngModel)]="categorieNoua.categoryName">
      </mat-form-field>
      <mat-form-field appearance="fill">

        <mat-select [(ngModel)]="categorieNoua.categorieParinte">
          <mat-label>Parinte categorie</mat-label>
          <mat-option *ngFor="let cat of allCategorii" [value]="cat">{{cat.categoryName}}</mat-option>
          <!-- <option *ngFor="let cat of allCategorii" [ngValue]="cat.id">{{cat.categoryName}}</option> -->
        </mat-select>

      </mat-form-field>
      <!-- <button (click)="saveSablonNou()">Save sablon nou</button> -->

      <button mat-raised-button color="primary" (click)="saveSablonNou()" >
        <mat-icon>description</mat-icon>SAVE CATEGORY
      </button>
    </div>


  </div>

 
</div>