<h1 mat-dialog-title>MY CUSTOM FLOW</h1>
<div mat-dialog-content>
    

    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let u of users" cdkDrag>{{u.id}} {{u.email}}

            <button mat-raised-button color="warn" (click)="removeUser(u)">
                <mat-icon>delete_forever</mat-icon>REMOVE USER
            </button>
        </div>
    </div>
</div>

<div>
    <br>
    <div>

        <mat-form-field appearance="fill">
            <mat-label>Users associated with flow</mat-label>
            <mat-select multiple [(ngModel)]="allUsersSelectedFromPotential">

                <mat-option *ngFor="let u of allUsersPotential" [value]="u">{{u.email}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div>
        <button (click)="addUsersToCustomFlow()" mat-raised-button color="accent">
            <mat-icon>add</mat-icon>ADD USER TO CUSTOM FLOW
        </button>
        </div>
      
    </div>
</div>
<div mat-dialog-actions style="align-items: center;">
    <!-- <button [mat-dialog-close]="data">Ok</button> -->
    &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp;


    <button mat-button color="accent" [mat-dialog-close]="data">
        <mat-icon>close</mat-icon>CLOSE
    </button>

</div>