<h1 mat-dialog-title>Add Anunt</h1>
<div mat-dialog-content>
    

    <div *ngIf="!hasAnuntBeenSaved; else anuntSaved">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Titlu anunt</mat-label>
                <input matInput type="text" [(ngModel)]="anuntNou.titlu">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Continut anunt</mat-label>
                <input matInput type="text" [(ngModel)]="anuntNou.continut">
            </mat-form-field>
        </div>
      
    </div>
    <ng-template #anuntSaved>
        <div>
            Anuntul a fost salvat
        </div>
    </ng-template>

</div>
<div mat-dialog-actions>

    <button *ngIf="!hasAnuntBeenSaved" mat-button (click)="onNoClick()">Cancel</button>
    <!-- [mat-dialog-close]="data.animal" -->
    <button  *ngIf="!hasAnuntBeenSaved"   mat-button color="primary" (click)="saveAnunt()">Save anunt</button>
    <button *ngIf="hasAnuntBeenSaved" [mat-dialog-close]="data.rezultat">Ok</button>
</div>